@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');

*{
    left: 0;
    top: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body{
    width: 99.7%;
    height: 100%;
    padding: 5px;
    margin: 5px;
}
h1{
    font-size: 3rem !important;
}
h2{
    font-size: 2.2rem !important;
}
.delivery{
    position: relative;
    border: 1.5px solid grey;
    border-radius: 10px;
    padding: 12px 0 0 32px;
    font-weight: 100 !important;
    margin-bottom: 1.5rem;
}
.payment{
    position: relative;
    border: 1.5px solid grey;
    border-radius: 10px;
    padding: 12px 0 0 32px;
    font-weight: 100 !important;
    margin-bottom: 1.5rem;
}
.total{
    position: relative;
    border: 1.5px solid grey;
    border-radius: 10px;
    padding: 12px 0 0 32px;
    font-weight: 100 !important;
    margin-bottom: 1.5rem;
}
.first{
    position: absolute;
    top: 3rem;
    left: 15rem;
    font-size: 3.4rem;
    color: rgb(27, 196, 27);
}
.second{
    position: absolute;
    top: 3rem;
    left: 16rem;
    font-size: 3.4rem !important;
    color: rgb(27, 196, 27);
}
.info{
    width: 95%;
}
.delivery p{
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 300;
    color: grey
}

span{
    font-weight: 500 !important;
    font-size: 1.8rem !important;
}

.order{
    position: relative;
    margin: 0 auto;
    background-color: rgb(11, 134, 11);
    color: #fff;
    padding: 20px;
    font-size: 1.8rem !important;
    border: none;
    border-radius: 3px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 96.5%;
    font-weight: 900;
}
.check{
  position: relative;
  top: 4px;
  right: 5px;
  width: 22px;
  height: 22px;
}
.terms{
    font-size: 1.6rem !important;
    font-weight: 500;
    word-spacing: 1.2px;
    padding: 5px;
}
.sales{
    font-size: 1.8rem !important;
    font-weight: 450;
}
.small{
    font-size: 1.2rem !important;
    font-weight: 500;
    letter-spacing: .5px;
}
.content{
    font-size: 2rem;
    font-weight: 200;
    text-align: left;
    width: 98%;
}
p{
    font-size: 2rem !important;
    word-spacing: 1px !important;
    line-height: 2.8rem !important;
}
.creditCardForm {
    position: relative;
    top: -10rem;
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
    margin-bottom: -9rem;
}
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}
.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}
.creditCardForm .payments {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}
.creditCardForm .payments .form-group {
    float: left;
    margin-bottom: 15px;
}
.creditCardForm .payments .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}
.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}
.creditCardForm .CVV {
    width: 35%;
}
.creditCardForm #card-number-field {
    width: 100%;
}
.creditCardForm #expiration-date {
    width: 49%;
}
.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}
.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}
.creditCardForm .payments .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}
.creditCardForm .payments select {
    padding: 10px;
    margin-right: 15px;
}
.transparent {
    opacity: 0.2;
}
@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}
hr{
    width: 90%;
}
#date-time{
    color: #345;

}